.index-container{
    position: relative;
    margin: 0 auto;
    top:70px;
    width: 1160px;
    height: 7091px;
}
.top-container-wrapper{
    position: absolute;
    width: 1160px;
    height: 240px;
    top: 0;


}
.lunbo-a{
    float: left;
    width: 440px;
    height: 220px;
    overflow: hidden;
    border-radius: 4px;
}
.pics-a {
    width: 2200px;
    height: 220px;
    position: relative;
    transition: .3s;
}

.pics-a li{
    width: 440px;
    height: 220px;
    float: left;
    cursor: pointer;
}
.pics-a li:nth-child(1) {
    background:url(../image/lunboa/lunboa-1.jpg@.webp);
}
.pics-a li:nth-child(2) {
    background:url(../image/lunboa/lunboa-2.jpg@.webp);
}
.pics-a li:nth-child(3) {
    background:url(../image/lunboa/lunboa-3.jpg@.webp);
}
.pics-a li:nth-child(4) {
    background:url(../image/lunboa/lunboa-4.jpg@.webp);
}
.pics-a li:nth-child(5) {
    background:url(../image/lunboa/lunboa-5.jpg@.webp);
}
.lunbo-a-select{
    background-position: -855px -727px !important;
}
.points-a li{
    float: left;
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin: 2px 2px;
    background: url(../image/icons.png) -855px -790px no-repeat;
}

.points-a{
    height: 20px;
    z-index: 11;
    float: right;
    margin: 7.5px 15px;
}
.points-a li:hover{
    background-position: -919px -790px;
}
.title-a{
    float: left;
    width: 220px;
    height: 35px;;
    line-height: 35px;
    font-size: 14px;
}
.title-a span{
    position: absolute;
    left: 20px;
    display: none;
    color: #fff;
}
.title-on{
    display: inline !important;
}
.lunbo-bottom{
    height: 35px;
    position: absolute;
    top: 185px;
    width: 440px;
    border-radius: 0 0 4px 4px;
    background: linear-gradient(transparent,rgba(0,0,0,0.1) 20%,rgba(0,0,0,0.2) 35%,rgba(0,0,0,0.5) 65%,rgba(0,0,0,0.66));
}